.NavBar{
    display: flex;
    height: 60px;
    /* border: solid rgb(207, 102, 41) 2px; */
    align-items: center;
    justify-content: space-between;
    background-color: #121619;
}

.NavBar img {
    height: 40px;
    margin-left: 50px;
}

/* ---------------------------------------------- */

.NavBar .links {
    display: flex;
    gap: 30px;
    margin-right: 60px;
}

.NavBar .links .link{
    color: white;
    text-decoration: none;
    padding: 2px;
    font-size: 19px;
    font-weight: 530;
}

.NavBar .ReoderIcon {
    width: 80px;
    height: 40px;
    margin-right: 30px;
    cursor: pointer;
}

.NavBar .hiddenLinks{
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

.NavBar .hiddenLinks .link{
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 2px;
    font-size: 19px;
    font-weight: 530;
}

/* ---------------------------------------------- */

@media (max-width: 599px){
    .NavBar .links {
        display: none;
    }
}


@media (min-width: 600px){
    .NavBar .ReoderIcon {
        display: none;
    }
    
    .NavBar .hiddenLinks{
        display: none;
    }
}