h1  {
    color:darkblue;
    background-color: darkmagenta;
    text-align: center;
}

.head {
    color: darkred;
    background-color: black;
    text-align: center;
    font-size: 35px;
}

.links {
    color: rgb(130, 6, 255);
    background-color: rgb(69, 0, 119);
    font-size: 35px;
}

.dashbord {
    color: aqua;
    background-color: black;
    text-align: center;
    font-size: 35px;
}

p.image{
    text-align: center;
}

div.center
{
    text-align: center;
}

img {
    height: auto;
    width: 700px;
}

.flex-ctr {
    display: flex;
    padding: 5px;
    height: 100px;
    border: darkgrey solid 5px;
    background-color: darkred;

    align-items: center;
    justify-content: center;
    gap: 5px;
}

.item {
    background: grey;
    padding: 5px;
    height: 50px;
    border: darkgray 10px solid;
    flex:1
}

.purple-background {
    /* background-color: #3A1952; */
    background-color: grey;
}