/* * {
    outline: 2px solid red;
  } */

.page-color {
    background: #1F2937;
    margin: 0px;
}

/* -------------------------------------------------------- */
/* --------------------------HEAD-------------------------- */
/* -------------------------------------------------------- */

.ctr-head {
    display: flex;
    height: 50px;
    border: darkred solid 5px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
}

.head-bar {
    display: flex;
    height: 55px;
}

.head-bar2 {
    display: flex;
    height: 50px;
    border: darkred solid 4px;
    width: 700px;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding-right: 15px;
}

.head-bar2 a {
    color: grey;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */


























.flex-ctrI {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: darkred solid 5px;
}

.flex-ctrI .space1 {
    width: 200px;
}

.flex-ctrI-1 {
    height: 200px;
    width: 600px;
    border: darkred solid 5px;
    display: flex;
    flex-direction: column;

}

.flex-ctrI-1 .item1 
{
    width: 200px;
    height: 85px;
    color: #F9FAF8;
    padding-top: 0%;
    margin-top: -3%;
}

.flex-ctrI-1 .item2
{
    width: 300px;
    color: #E5E7EB;
}

.flex-ctrI-1 .item3
{
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    justify-content: center;
    /* vertical-align: sub; */
    color: #E5E7EB;
    background-color: rgb(7, 78, 211);
}

.font-white {
    color: white;
}


.flex-ctrII {
    align-items: center;
    height: 300px;
    background: white;
}