/* * {
    outline: 2px solid red;
  } */

.page-color {
    background: #1F2937;
    margin: 0px;
}

/* -------------------------------------------------------- */
/* --------------------------HEAD-------------------------- */
/* -------------------------------------------------------- */

.ctr-head {
    display: flex;
    height: 50px;
    border: darkgray solid 2px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
}

.head-bar {
    display: flex;
    height: 55px;
}

.head-bar2 {
    display: flex;
    height: 50px;
    border: darkgray solid 2px;
    width: 700px;
    align-items: center;
    justify-content: space-evenly;
}

.head-bar2 a {
    color: grey;
}

/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

.bar {
    display: flex;
    height: 300px;
    border: darkred solid 2px;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

.bar .bar1 {
    display: flex;
    border: darkred solid 2px;
    height: 200px;
    width: 700px;
    flex-direction: column;
}

.bar .bar2 {
    display: flex;
    border: darkred solid 2px;
    height: 200px;
    width: 700px;
}

.bar .item1 h1 {
    margin: 0px;
    width: 250px;
    color: white;
}

.bar .item2 {
    margin: 0px;
    width: 300px;
    font-size: small;
    color: rgb(192, 192, 192);
    padding-top: 20px;
    padding-bottom: 20px;
}

.bar .item3 {
    display: flex;
    width: 90px;
    height: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 142, 217);
}




























/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

.flex-ctrII {
    align-items: center;
    height: 300px;
    background: white;
}