.test {
    display: flex;
    height: 100svh;
    padding: 200px;
    background-color: white;
    flex-direction: column;
    border: solid darkred 5px;
}

.test .circle {
    clip-path: circle(50% at 0 0);
    background-color: blueviolet;
    width: 100px;
    height: 50px;
    color: blueviolet;
    transition: ease-in 1s;
}

.test .circle:hover {
    clip-path: circle(100% at 0 0);
    width: 800px;
    height: 50px;
    color: black;
}

.filter {
    color: black;
    font-size: 30px;
    filter: blur(20px);
}

.filter:active {
    filter: none;
    font-size: 25px;
}

.input {
    width: 40svw;
    outline: none;
    border: none;
    border-bottom: solid black;
    caret-color: purple;
}

.input::placeholder {
    color: gray;
}

.input:focus {
    transition: ease-in 1s;
    /* background-color: purple; */
}

video {
    width: 100%;
    aspect-ratio: 16/9;
}

.github:link {
    color: black;
    margin-top: 20px;
    font-size: 2.1em;
    text-decoration: none;
    padding: 10px;
    width: 100px;
}


.github:hover {
    background-color: darkred;
    border-radius: 20px;
}

.github:visited {
    color: darkgrey;
}

::selection {
    background: none;
}