.statePage {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: flex;
    gap: 5px;
}

.increment{
    border: #0d6efd solid 3px;
}

.decrement{
    border: cyan solid 3px;
}