/* * {
    outline: 2px solid red;
  } */

  .page-color {
    background: #1F2937;
    margin: 0px;
}

/* -------------------------------------------------------- */
/* --------------------------HEAD-------------------------- */
/* -------------------------------------------------------- */

.ctr-head {
    display: flex;
    height: 50px;
    /* border: darkgray solid 2px; */
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
}

.head-bar {
    display: flex;
    height: 50px;
}

.head-bar2 {
    display: flex;
    height: 50px;
    width: 500px;
    align-items: center;
    /* border: darkgray solid 2px; */
    justify-content: space-evenly;
}

.head-bar2 a {
    color: grey;
    text-decoration: none;
}

/* -------------------------------------------------------- */
/* ----------------------BAR-I----------------------------- */
/* -------------------------------------------------------- */

.bar {
    display: flex;
    height: 310px;
    /* border: darkred solid 2px; */
    padding: 0px 100px;
    align-items: center;
}

.bar .bar1 {
    display: flex;
    /* border: darkred solid 2px; */
    height: 200px;
    width: 100%;
    flex-direction: column;
}

.bar .bar1 .item1 h1 {
    margin: 0px;
    width: 100%;
    color: white;
}

.bar .bar1 .item2 {
    margin: 0px;
    width: 300px;
    font-size: small;
    color: rgb(192, 192, 192);
    padding-top: 20px;
    padding-bottom: 20px;
}

.bar .bar1 .item3 {
    display: flex;
    width: 90px;
    height: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    border-radius: 15px;
}

.bar .bar2 {
    display: flex;
    /* border: darkred solid 2px; */
    height: 200px;
    width: 100%;
}

.bar2  img{
    width: auto;
    border-radius: 10px;
}

/* -------------------------------------------------------- */
/* -----------------------BAR-II--------------------------- */
/* -------------------------------------------------------- */

.bar_II {
    display: flex;
    align-items: center;
    height: 310px;
    background: white;
    /* border: darkred solid 2px; */
    flex-direction: column;
    padding: 25px 100px;
    /* flex-wrap : wrap; */

}

.bar_II .bar1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.bar_II .bar2 {
    /* margin-top: 20px; */
    display: flex;
    height: 250px;
    width: 100%;
    /* border: darkred solid 2px; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bar_II .bar2 .boxes {
    display: flex;
    height: 180px;
    width: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: black solid 4px; */
}

.bar_II .bar2 .boxes .box {
    height: 100px;
    width: 100px;
    border: #3882F6 solid 4px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.bar_II .bar2 .boxes .text {
    width: 100px;
    border-radius: 10px;
    text-align: center;
    color: gray;
    font-size: small;
}














/* .bar_II .bar2 .random-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -30px;
    padding: 0 100px;
}

.bar_II .bar2 .random-text p {
    width: 80px;
    font-size: 15px;
    min-width: 80px;
    text-align: center;
} */
















/* -------------------------------------------------------- */
/* ----------------------Practicing ----------------------- */
/* -------------------------------------------------------- */

.practice {
    display: flex;
    height: 250px;
    background-color: white;
    border: darkred solid 2px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 100px;
}

.practice div {
    display: flex;
    height: 100px;
    width: 100px;
    border: darkred solid 2px;
    border-radius: 15px;
}

.practice #itm1 {
    align-self: flex-end;
    flex-grow: 0;
    height: 200px;
}