.footer {
    height: 60px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .socialMedia svg {
    color: white;
    margin:  20px 20px 0px 20px;
    font-size: 28px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
    margin-top: 0px;
  }
  