.main {
    display: flex;
    height: 850px;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
}

.main h1{
    color: black;
    font-size: 39px;
}

.main p {
    color: black;
    font-size: 39px;
}

.main .orderButton {
    width: 80px;
    text-decoration: none;
    padding: 8px 15px;
    cursor: pointer;
    color: black;
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.main .orderButton:hover {
    transition: ease-in 0.3s;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    color: orange;
}